<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Single" parallel="none">
	<parameter name="browser" value="firefox" />
	<!-->parameter name="config" value="single.conf.json" /> -->
	<!--><parameter name="environment" value="firefox" /> -->
	<test name="SingleTest">
		<classes>
			<class name="testproject.testproject.AppTest2" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->


