<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Single" parallel="none" verbose="10">
	<test name="SingleTest">
		<groups>
			<run>
				<include name="sanity" />
			</run>
		</groups>
		<classes>
			<class name="test.Selenide" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->


