<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanity" parallel="tests" thread-count="5"
	verbose="10">
	<listeners>
		<listener class-name="utilities.BaseListener"></listener>
	</listeners>
	<parameter name="baseUrl"
		value="https://the-internet.herokuapp.com/login" />
	<parameter name="data-file"
		value="src/test/resources/data.json" />
	<test name="Chrome" thread-count="1" parallel="methods">
		<parameter name="driverType" value="CHROME" />
		<packages>
			<package name="ui"></package>
		</packages>
	</test>
	<test name="Firefox" thread-count="1" parallel="methods">
		<parameter name="driverType" value="FIREFOX" />
		<packages>
			<package name="ui"></package>
		</packages>
	</test>
</suite>


